.container{
    background-color: rgb(70, 74, 72);
}
.me-content{
    margin: 50px auto;
    width: 40%;
    box-shadow: 0px 50px 100px 0px rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 10px;
}
.me-content img{
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 200px;
}
.me-content h2,p{
    margin-left: 20px;
}
.resume{
    margin-left: 20px;
    text-decoration: none;
}
.icon{
    display: flex;
}
.icon li{
    list-style: none;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
}
.icon li a{
    color: black;
}